<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header fragment</title>
</head>
<body>
<header th:fragment="headerFragment">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Webstore</a>

            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/products}">Products</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>

                <!-- Tylko dla zalogowanych -->
                <li class="nav-item" th:if="${session.user != null}">
                    <a class="nav-link" th:href="@{/cart}">Cart</a>
                </li>
                <li class="nav-item" th:if="${session.user != null}">
                    <a class="nav-link" th:href="@{/orders}">Orders</a>
                </li>
                <li class="nav-item" th:if="${session.user != null}">
                    <a class="nav-link" th:href="@{/members}">Members</a>
                </li>
            </ul>

            <ul class="navbar-nav" th:if="${session.user == null}">
                <li class="nav-item"><a class="nav-link" th:href="@{/register}">Register</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
            </ul>

            <ul class="navbar-nav" th:if="${session.user != null}">
                <li class="nav-item">
                    <span class="nav-link">Hello, <span th:text="${session.user}">user</span>!</span>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>