<!-- src/main/resources/templates/home.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Javalin web store!</title>
    <object th:include="fragments/head  :: head" th:remove="tag"/>
</head>
<body>
<!-- Navigation Bar -->
<header th:replace="fragments/header :: headerFragment"/>


<!-- Page Content -->
<section id="main" class="container mt-4">
    <div>
        <h1>Welcome to the Home Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
    </div>
</section>

<!-- Footer -->
<footer class="bg-light text-center py-3 mt-5">
    <p>&copy; 2025 Javalin App</p>
</footer>
</body>
</html>