<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
      th:fragment="layout (title)">
<head>
    <title th:text="${title}">Javalin App</title>
    <object th:include="fragments/head  :: head" th:remove="tag"/>
</head>
<body>
<!-- Navigation Bar -->
<header th:replace="fragments/header :: headerFragment"/>

<!-- Page Content -->
<section id="main" class="container mt-4">
    <div th:replace="${content}"></div>
</section>

<!-- Footer -->
<footer th:replace="fragments/footer :: footerFragment"/>
</body>
</html>